#game {
 /* Border */
  border: 4px solid transparent;
  border-radius: 20px;
  background: 
    linear-gradient(to right, rgb(33, 37, 41), rgb(33, 37, 41)), 
    linear-gradient(66deg,rgba(214, 43, 43, 1) 0%, rgba(154, 199, 87, 1) 19%, rgba(94, 200, 131, 1) 37%, rgba(94, 196, 200, 1) 56%, rgba(109, 134, 210, 1) 75%, rgba(255, 0, 195, 1) 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  
  /* Other styles */
  /* width: 100px;
  height: 40px;
  padding: 12px; */
}

.invisible {
  display: none;
}

.orange-letter {
  background-color: #b56c3b;
  font-size: 30px;
}

.green-letter {
  background-color: #4e8d6d;
  font-size: 30px;
}

.gray-letter {
  background-color: #3a3a3c;
  font-size: 30px;
}

#difficulty {
  background-color: transparent;
  color: white !important;
}

.blue {
  background-color: #537ef5 !important;
  color: white !important;
  border-radius: 100% 0 0 0;
}

.blue-outline {
  background-color: transparent;
  border-color: #537ef5;
  border-width: 4px;
  color: #537ef5;
  border-radius: 100% 0 0 0;
}

.red {
  background-color: #f55358 !important;
  color:white !important;
  border-radius: 0 100% 0 0;
}

.red-outline {
  background-color: transparent;
  border-color: #f55358;
  border-width: 4px;
  color: #f55358;
  border-radius: 0 100% 0 0;
}

.yellow {
  background-color: #e8d60e !important;
  color: black !important;
  border-radius: 0 0 0 100%;
}

.yellow-outline {
  background-color: transparent;
  border-color: #e8d60e;
  border-width: 4px;
  color: #e8d60e;
  border-radius: 0 0 0 100%;
}

.green {
  background-color: #28d904 !important;
  color: white !important;
  border-radius: 0 0 100% 0;
}

.green-outline {
  background-color: transparent;
  border-color: #28d904;
  border-width: 4px;
  color: #28d904;
  border-radius: 0 0 100% 0;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
