#game {
 /* Border */
  border: 4px solid transparent;
  border-radius: 20px;
  background: 
    linear-gradient(to right, rgb(33, 37, 41), rgb(33, 37, 41)), 
    linear-gradient(66deg,rgba(214, 43, 43, 1) 0%, rgba(154, 199, 87, 1) 19%, rgba(94, 200, 131, 1) 37%, rgba(94, 196, 200, 1) 56%, rgba(109, 134, 210, 1) 75%, rgba(255, 0, 195, 1) 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  
  /* Other styles */
  /* width: 100px;
  height: 40px;
  padding: 12px; */
}

.invisible {
  display: none;
}

.orange {
  background-color: #b56c3b;
}

.green {
  background-color: #4e8d6d;
}

.gray {
  background-color: #3a3a3c;
}

.letter {
  font-size: 30px;
}

#difficulty {
  background-color: transparent;
  color: white !important;
}

.blue {
  background-color: #537ef5 !important;
  color: white !important;
  border-radius: 100% 0 0 0;
}

.blue-outline {
  background-color: transparent;
  border-color: #537ef5;
  border-width: 4px;
  color: #537ef5;
  border-radius: 100% 0 0 0;
}

.red {
  background-color: #f55358 !important;
  color:white !important;
  border-radius: 0 100% 0 0;
}

.red-outline {
  background-color: transparent;
  border-color: #f55358;
  border-width: 4px;
  color: #f55358;
  border-radius: 0 100% 0 0;
}

.yellow {
  background-color: #e8d60e !important;
  color: black !important;
  border-radius: 0 0 0 100%;
}

.yellow-outline {
  background-color: transparent;
  border-color: #e8d60e;
  border-width: 4px;
  color: #e8d60e;
  border-radius: 0 0 0 100%;
}

.green {
  background-color: #28d904 !important;
  color: white !important;
  border-radius: 0 0 100% 0;
}

.green-outline {
  background-color: transparent;
  border-color: #28d904;
  border-width: 4px;
  color: #28d904;
  border-radius: 0 0 100% 0;
}